<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Shrikhand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
<!-- Title -->
    <title>Hojiak</title>
  </head>


  <body>
  <div class="site-branding">
      <div class="site-branding-logo">
        <img src="/media/images/Logo - Secondary.png" width="450" height="250"></img>
      </div>
    </div>
    
    

<!-- Nav Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-warning">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Directory</a>
      </li>
       <li class="nav-item active">
        <a class="nav-link" href="{% url 'homeview'%}">Potluck</a>
        </li>
      </li>
    </ul>
  </div>
</nav>

<!-- Jumbotron -->
    <div class="card card-image" style="background-image: url(https://images.unsplash.com/photo-1528076225979-12893c7d55e4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2099&q=80">
      <div class="text-white text-center rgba-stylish-strong py-5 px-4">
        <div class="py-5">

          <!-- Content -->
          <h3><strong> About the Hojiak Gang... </strong></h3>
          
    

        </div>
      </div>
    </div>
    <br/>
    <!-- Jumbotron -->

<!-- Card -->
<div class="card-deck" style="max-width: 100%">
  <div class="card">
    <img src="\media\images\Suz.jpg" class="card-img-top" alt="Boss">
    <div class="card-body">
      <h4 class="card-title"> <strong>Suzanne</strong></h4>
      <p class="card-text" style="text-align: left"> <strong> Cheerleader </strong></p>
      <p class="card-text" style="text-align: left"> Suz wishes to contribute to the local food scene by bringing it even closer to people through technology. She refuels her cheerleading spirit by eating her favourite satay beehoon and black carrot cake.</p>

    </div>
  </div>
  <div class="card">
    <img src="/media/images/Gen.jpg" class="card-img-top" alt="Pixie Fairy">
    <div class="card-body">
      <h4 class="card-title"> <strong>Genevieve</strong></h4>
      <p class="card-text" style="text-align: left"> <strong> Creative Pixie </strong></p>
      <p class="card-text" style="text-align: left">Genevieve believes in doing a small part in making the community better. And what better way than through food? Marketing, branding and a dash of sparkle is what she brings to the table.</p>    
    </div>
  </div>
  <div class="card">
    <img src="/media/images/SJ.jpg" class="card-img-top" alt="Spiderman">
    <div class="card-body">
      <h4 class="card-title"> <strong>Song Jian</strong></h4>
      <p class="card-text" style="text-align: left"> <strong> Network Spiderman </strong></p>
      <p class="card-text" style="text-align: left">Song Jian has the best lobangs for good hawker fare. He also enjoys connecting and networking with people. Join him on the hojiak journey to discover untold hawker stories! </p>
    </div>
  </div>
  <div class="card">
    <img src="/media/images/SY.jpg" class="card-img-top" alt="Warrior">
    <div class="card-body">
      <h4 class="card-title"> <strong>Shun Yuan</strong></h4>
      <p class="card-text" style="text-align: left"> <strong> Research Warrior </strong></p>
      <p class="card-text" style="text-align: left">Shun Yuan researches on the history and current evolution of hawkers to reinvent the notion of hawkerpreneurship for the future. Her favourite hawker food is chicken rice (without chicken). And it's not because she is vegan. </p>
    </div>
  </div>
  <div class="card">
    <img src="/media/images/Kev.jpg" class="card-img-top" alt="Tech ninja">
    <div class="card-body">
      <h4 class="card-title"> <strong>Kevin</strong></h4>
      <p class="card-text" style="text-align: left"> <strong> Tech Ninja </strong></p>
      <As class="card-text" style="text-align: left">Kevin is a newbie tech enthusiast who is looking to transition into the tech industry. As tech ninja, he helps to develop the Hojiak website. He enjoys a warm cup of kopi-c-kosong in his free time.</p>
    </div>
</div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>