<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Shrikhand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
<!-- Title -->
    <title>Hojiak</title>
  </head>


  <body>
  <div class="site-branding">
      <div class="site-branding-logo">
        <img src="https://drive.google.com/thumbnail?id=1PXedvuL8aFpT4IN3KcWZsezGFW-8pbBJ" width="230" height="230"></img>
      </div>
    </div>
    <div class="site-branding-text">
      <h5 id="site-title"><strong>About the Hojiak gang...</strong></h5>
    </div>
    

<!-- Nav Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-warning">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Directory</a>
      </li>
       <li class="nav-item active">
        <a class="nav-link" href="{% url 'homeview'%}">Blog</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="#">Potluck</a>
        </li>
      </li>
    </ul>
  </div>
</nav>
<br/>

<!-- Card -->
<div class="card-deck" style="max-width: 100%">
  <div class="card">
    <img src="https://images.unsplash.com/photo-1589748239338-afe695e833d3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1226&q=80" class="card-img-top" alt="Boss">
    <div class="card-body">
      <h5 class="card-title"><strong>Hojiak Cheerleader</strong></h5>
      <p class="card-text" style="text-align: left">As a foodie and tech enthusiast, Suz wishes to contribute to the local food scene by bringing it even closer to people through technology.
      <p class="card-text" style="text-align: left"> Suz refuels her cheerleading spirit by eating her favourite satay beehoon and black carrot cake. If she is not cheering the team on, you find her herding cats.</p>
    </div>
  </div>
  <div class="card">
    <img src="https://images.unsplash.com/photo-1502919280275-1bed9aca68ab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" class="card-img-top" alt="Pixie Fairy">
    <div class="card-body">
      <h5 class="card-title"><strong>Hojiak Creative Pixie</strong></h5>
      <p class="card-text" style="text-align: left">Genevieve has been actively volunteering at community events, a hospital and non-profit organisations. She believes in doing a small part in making the community a little better.</p>
      <p class="card-text" style="text-align: left">Marketing, branding and a dash of sparkle is what she brings to the Hojiak table.</p>
    </div>
  </div>
  <div class="card">
    <img src="https://images.unsplash.com/photo-1505925456693-124134d66749?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" class="card-img-top" alt="Spiderman">
    <div class="card-body">
      <h5 class="card-title"><strong>Hojiak Spiderman</strong></h5>
      <p class="card-text" style="text-align: center">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text" style="text-align: center"></p>
    </div>
  </div>
  <div class="card">
    <img src="https://images.unsplash.com/photo-1553286158-5f5dac259bb0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="Warrior">
    <div class="card-body">
      <h5 class="card-title"> <strong>Hojiak Warrior</strong></h5>
      <p class="card-text" style="text-align: left">As the Hojiak warrior, Shun Yuan fights for the livelihood and culture of Singapore hawkers. She researches on the history and current evolution of hawkers, aiming to reinvent the notion of hawkerpreneurship for the future. </p>
      <p class="card-text" style="text-align: left">Her favourite hawker food is chicken rice (without chicken) because she loves the taste of the rice more than anything else.</p>
    </div>
  </div>
  <div class="card">
    <img src="https://images.unsplash.com/photo-1518740028517-36c686a4a001?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80" class="card-img-top" alt="Tech ninja">
    <div class="card-body">
      <h5 class="card-title">Hojiak Tech Ninja</h5>
      <p class="card-text" style="text-align: center">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text" style="text-align: center"></p>
    </div>
</div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>